<div class="flex-row-container">
  <div class="flex-row-item"></div>
  <div class="flex-row-item"></div>
  <!-- Writing markup for login starts -->
  <div class="flex-row-item login-element">
    <div class="login-container">
      <form>
        <div class="login-box-body" style="color:black">
          <p style="text-align: center;">
            Conectado como <strong>{{ username }}</strong>
          </p>
          <div *ngIf="isValidDate(date)" style="text-align: center;">
            <p>Último {{ type === "in" ? "fichaje" : "desfichaje" }}:</p>
            <p *ngIf="type === 'in'" style="color:green"><strong>{{ date | date: "medium" }}</strong></p>
            <p *ngIf="type === 'out'" style="color:red"><strong>{{ date | date: "medium" }}</strong></p>
          </div>
          <button mat-raised-button [disabled]="disableButtons" class="in-button" (click)="clock('in')">
            <span class="button_text">FICHAR</span> 
          </button>
          <button mat-raised-button [disabled]="disableButtons" class="out-button" (click)="clock('out')">
            <span class="button_text">DESFICHAR</span> 
          </button>
          <br />
          <br />
          <button mat-raised-button class="login-button" (click)="issue()">
            Incidencia
          </button>
          <br />
          <div *ngIf="admin">
            <br />
            <button mat-raised-button class="login-button" (click)="adminHome()">
              Panel de administración
            </button>
            <br />
          </div>
          <div *ngIf="!admin">
            <br />
            <button mat-raised-button class="login-button" (click)="clockHistory()">
              Historial de fichajes
            </button>
            <br />
          </div>
          <br />
          <button mat-raised-button class="login-button" (click)="logout()">
            Desconectar
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="flex-row-item"></div>
  <div class="flex-row-item"></div>
  <!-- Writing markup for login ends -->
</div>